[submodule "source/cmake-modules"]
	path = source/cmake-modules
	url = https://github.com/AtelierNeon/an-cmake-modules-gsm.git
[submodule "source/curl"]
	path = source/curl
	url = https://github.com/AtelierNeon/an-curl-gsm.git
[submodule "source/expat"]
	path = source/expat
	url = https://github.com/AtelierNeon/an-expat-gsm.git
[submodule "source/net-snmp"]
	path = source/net-snmp
	url = https://github.com/AtelierNeon/an-net-snmp-gsm.git
[submodule "source/openssl"]
	path = source/openssl
	url = https://github.com/AtelierNeon/an-openssl-gsm.git
[submodule "source/pcre"]
	path = source/pcre
	url = https://github.com/AtelierNeon/an-pcre-gsm.git
[submodule "source/sqlite"]
	path = source/sqlite
	url = https://github.com/AtelierNeon/an-sqlite-gsm.git
[submodule "source/zlib"]
	path = source/zlib
	url = https://github.com/AtelierNeon/an-zlib-gsm.git
[submodule "source/poco"]
	path = source/poco
	url = https://github.com/AtelierNeon/an-poco-gsm.git
