[submodule "source/boost"]
	path = source/boost
	url = https://github.com/AtelierNeon/an-boost-gsm.git
[submodule "source/c-ares"]
	path = source/c-ares
	url = https://github.com/AtelierNeon/an-c-ares-gsm.git
[submodule "source/cjson"]
	path = source/cjson
	url = https://github.com/AtelierNeon/an-cjson-gsm.git
[submodule "source/cmake-modules"]
	path = source/cmake-modules
	url = https://github.com/AtelierNeon/an-cmake-modules-gsm.git
[submodule "source/curl"]
	path = source/curl
	url = https://github.com/AtelierNeon/an-curl-gsm.git
[submodule "source/expat"]
	path = source/expat
	url = https://github.com/AtelierNeon/an-expat-gsm.git
[submodule "source/libssh2"]
	path = source/libssh2
	url = https://github.com/AtelierNeon/an-libssh2-gsm.git
[submodule "source/libwebsockets"]
	path = source/libwebsockets
	url = https://github.com/AtelierNeon/an-libwebsockets-gsm.git
[submodule "source/net-snmp"]
	path = source/net-snmp
	url = https://github.com/AtelierNeon/an-net-snmp-gsm.git
[submodule "source/nghttp2"]
	path = source/nghttp2
	url = https://github.com/AtelierNeon/an-nghttp2-gsm.git
[submodule "source/openssl"]
	path = source/openssl
	url = https://github.com/AtelierNeon/an-openssl-gsm.git
[submodule "source/paho-mqtt-c"]
	path = source/paho-mqtt-c
	url = https://github.com/AtelierNeon/an-paho-mqtt-c-gsm.git
[submodule "source/pcre"]
	path = source/pcre
	url = https://github.com/AtelierNeon/an-pcre-gsm.git
[submodule "source/poco"]
	path = source/poco
	url = https://github.com/AtelierNeon/an-poco-gsm.git
[submodule "source/protobuf"]
	path = source/protobuf
	url = https://github.com/AtelierNeon/an-protobuf-gsm.git
[submodule "source/sqlite"]
	path = source/sqlite
	url = https://github.com/AtelierNeon/an-sqlite-gsm.git
[submodule "source/zlib"]
	path = source/zlib
	url = https://github.com/AtelierNeon/an-zlib-gsm.git
