[submodule "source/expat"]
	path = source/expat
	url = https://github.com/AtelierNeon/an-expat-gsm.git
[submodule "source/cmake-modules"]
	path = source/cmake-modules
	url = https://github.com/AtelierNeon/an-cmake-modules-gsm.git
